*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 20px;
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    top: 0px;
    left: 0px;
    right: 0px;
}
#menu .item :hover{
    border-bottom: 2px solid black;
}
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}

#search{
    display: flex;

}

#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

#banner {
    width: 100%;
    background: url("../img/slide2.jpg") top center / cover no-repeat;
    height: 100%;
    margin-top:15px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

/*  */
.title {
    font-size: 2.5rem;
    font-family: system-ui;
    line-height: 1.1;
    font-weight: 300;
    color: #fff;
    margin: 4rem auto 1rem;
    width: 85%;
    max-width: 1280px;
  }
  .slider {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-color: var(--scrollcolor) var(--scrollbackground);
  }
  .slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: var(--scrollbackground);
  }
  .slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--scrollcolor);
  }
  .slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--scrollbackground);
  }
  .slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
  }
  @media (min-width: 460px) {
    .slider__item {
      aspect-ratio: 0.6666666667;
      min-width: calc((100% / 2) - 2rem);
   }
  }
  @media (min-width: 940px) {
    .slider__item {
      min-width: calc((100% / 3) - 4rem);
   }
  }
  .slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider__info {
    position: relative;
    padding: 4rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
  }
  .slider__info h2 {
    color: #fff;
    font-family: system-ui;
    line-height: 1.1;
    font-weight: 300;
    font-size: 1.75rem;
    margin: 0;
  }
  .slider__nav {
    margin: 1rem 0 4rem;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-content: center;
    align-items: center;
    pointer-events: none;
  }
  @media (min-width: 460px) {
    .slider__nav {
      justify-content: flex-end;
   }
  }
  .slider__nav__button {
    margin: 0;
    appearance: none;
    border: 0;
    border-radius: 2rem;
    background: #fff;
    color: #203239;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1;
    pointer-events: none;
    transition: 0.2s ease-out;
    opacity: 0.25;
  }
  .slider__nav__button--active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
/*  */

/* Banner */
#banner_2 {
    width: 100%;
    background: url("../img/banner2.webp") top center / cover no-repeat;
    height: 100%;
    margin-top:20px;
    padding-top: 35%;
    display: flex;
    box-sizing: border-box;
    
}
/* List sản phẩm */
#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size:32px;
    color: black;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item :hover{
    filter: opacity(80%);
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}


.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("../img/giamgia.webp");
}

#banner_3 {
    width: 100%;
    background: url("../img/banner3.jpg") top center / cover no-repeat;
    height: 100%;
    margin-top:100px;
    padding-top: 35%;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.banner_text_top{
    position: absolute;
    top: 300px;
    left: 600px;
}
.banner_text_body{
    position: absolute;
    top: 350px;
    left: 700px
}

.banner_text_body :hover{
    border-bottom: 2px solid white;
}
.banner_text_body a{
    text-decoration: none;
}
.banner_text_top h3{
    color: #fff;
}

.banner_text_body h4{
    color: #fff;
}

#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#menu {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

#menu img {
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    overflow: hidden;
}

.blog {
    height: 375px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.blog:hover {
    cursor: pointer;
    height:475px;
    width: 350px;
}

.music {
    height: 375px;
}

.projects {
    height: 375px;
}

.bio {
    height: 375px;
}  

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}

.footer-copyright{
    background-color: #fff;
    position: relative;
    height: 2px;
}

.footer-copyright .img-footer{
    position: absolute;
    top: 0px;
    right: 300px;
    height: 50px;
    width: 100px;
}
.footer-copyright .p-footer{
    position: absolute;
    top: 12px;
    left: 300px;
}
